.search-box {
  border: 1px solid #d9d1da;
  border-radius: 17px;
  padding: 100px;
  box-shadow: 0 0 50px #05050538;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.search-at-top {
  display: flex;
  align-content: center;
  margin: 20px 0px;
}

.hide {
  display: none;
}

input {
  border: 1px solid #d9d1da;
  border-radius: 10px;
  width: 350px;
  height: 25px;
}

.search-button {
  background: radial-gradient(
    circle,
    rgba(175, 203, 255, 1) 0%,
    rgba(255, 181, 232, 1) 100%
  );
  height: 30px;
  border-radius: 7px;
}

.close-button {
  background: linear-gradient(
    37deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 0.5245448521205357) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  height: 30px;
  border-radius: 7px;
}
