.search {
  display: flex;
  flex-direction: column;
  
}

.search-center {
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.search-top {
  justify-content: center;
  align-items: center;
}